*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

.main{
	width:100%;
}
.img{
	height:200px;
	background-size:cover;
	background-position:center;
}

.picture1{
	background-image:url(img/box1.jpg);
}

.picture2{
	background-image:url(img/box2.jpg);
}

.picture3{
	background-image:url(img/box3.jpg);
}

.picture4{
	background-image:url(img/box4.jpg);
}